<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta charset="UTF-8">
  <title></title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta property="og:title" content="Next" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />
  <meta property="og:type" content="website" />
  <link rel="icon" href="" type="image/x-icon" />
  <meta name="theme-color" content="#000000">


  <meta property="og:title" content="<%= htmlWebpackPlugin.options.ogInfo.title %>">
  <meta property="og:url" content="<%= htmlWebpackPlugin.options.ogInfo.url %>">
  <meta property="og:image" content="<%= htmlWebpackPlugin.options.ogInfo.image %>">
  <meta property="og:description" content="<%= htmlWebpackPlugin.options.ogInfo.description %>">
  <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.ogInfo.site_name %>">
  <meta property="og:type" content="<%= htmlWebpackPlugin.options.ogInfo.website %>">  

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.ogInfo.title %>">
  <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.ogInfo.description %>">
  <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.ogInfo.image %>">
  <meta name="twitter:image:alt" content="<%= htmlWebpackPlugin.options.ogInfo.description %>">  
</head>

<body>
  <section id="app-main"></section>
</body>

</html>